body{
	overflow: hidden;
}
.header_demo{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	
	background-color: #26407D;
	Color: white;
	
	text-align: center;
	
		font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 28px;
		line-height: 0px;
		letter-spacing: -1px;
		
		font-family: 'PT Sans', arial, serif;
	color:#ffffff;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	padding:10px;
	
	
	
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 3px solid rgba(0,0,0,0.5);
	


	
	


	display: inline-block;
	text-decoration: none
}

.principal_menu{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	
	padding-top: 15px;
	font-size: 38px;
	line-height: 10px;
	letter-spacing: 10px;
	background-color: #26407D;
	
	color: white;
	text-align: center;
}

.view{
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 75px;
	
	background-color: #FEFEFE/*hsl(206, 75%, 90%)*/;
	
	
	overflow: hidden;
}

.delete_indicator{
	background-color: #FF3553;
	color: white;
	
	text-align: right;
	overflow: hidden;
	height: 80px;
	width :0px;
	
	font-size: 18px;
	line-height:78px;
	font-weight: 900;
	padding-right:0px;
	
	z-index:99;
	
	float:left;
}
.message{
	float: top;
	width : 100%;
	
	border: 1px solid hsl(206, 75%, 90%);
	
	background-color : white;
	
	min-height: 85px;
	
	
	
	font-family: times, Times New Roman, times-roman, georgia, serif;
	
		font-family: 'PT Sans', arial, serif;
	
	
	
}

.message img{
	width: 44px;
	height: 44px;
	
	margin-left:10px;
}

.message table:first-child td:first-child, table:first-child td:last-child{
 width: 10px;
}
.message table {
	float: right;
	margin-top:10px;
	text-align: left;
	
	
	
}

.message  table table tr:first-child{
	color: #1A73B6 ! important; 
	
	
} 

.message.unread table table  tr:first-child{
	
	font-weight: bold;
	
} 


.message.unread{
	background-color: #E7EBFF !important;
	border-color: 2px solid #B6C7EC !important;
	      		
}

.principal_menu .fa.active{
	/*#1D95D1*/
	/*color : #D2E8F8 !important; */
	color: #FFFF00;
}


.iconp{
	position: absolute;
	top: 10px;
	left: 15px;
	color: white;
	font-size: 32px;
	
	display : hidden;	
}

.icons{
	position: absolute;
	top: 65px;
	left: 15px;
	color: #888;
	font-size: 18px;
	
	display : hidden;	
}
.vertical_menu{
	position: absolute;
	left: -40px;

	top : 45px;
	width : 300px;
	
	
	
	z-index: 100;
}
.vertical_menu li{
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #FFF;
	border: 1px solid #DDD;
	
	color: #333333;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
} 

.vertical_menu li img{
position: relative;
	height: 32px;
	top : 5px;
	
	
}

.vertical_menu li div{
position: relative;
	height: 32px;
	top: 5px;
	left: -60px;
	top: 10px;width : 250px;
	color: #333333;
font-family: Gill Sans / Gill Sans MT, sans-serif;
color: #566471;
font-weight: 400;
float : right;
width: 100px;
height : 18px;

	
	
}

.vertical_menu li i{
	position: relative;
	left: 90px;
	top: 15px;
	float : right;
}

.refreshing_list{
	position: absolute;
	top: 0px;
	left:0px;
	right: 0px;
	
	height : 30px;
	
	background-color: #F5F5Ff;
	border-color: #DDDDDD;
	z-index: 80;
	text-align: center;
	
	display : none;
}

#detail_msg{

	letter-spacing: -1px;
		
		font-family: 'PT Sans', arial, serif;
}

.internal_header{
	background:  #FFEA04;
	border: 1px solid #DDD;
	color: #333;
	text-shadow: 0px 1px 0px #EEE;
	/*font-weight: 700;*/
	
	height :22px;

}



.typeIcon, #longMSG{
	float: left;
	margin: 20px;
	font-weight: 400px;
}


#longMSG{  width: calc(100% - 160px);}


#shortMSG, .internal_header p{
	margin-top: 0px;
	 color: #1A73B6;
	 text-align: center;
}


.div_content2{
	background-color: #FAFAFA;
	border: 1px solid #DDD;
	
	width: 100%;
	height: calc(100% - 270px);
	
	overflow-y: auto;
	
	
}

.div_content{
	background-color: #FAFAFA;
	border: 1px solid #DDD;
	
	width: 100%;
	height: 100px;
	
	overflow-y: auto;

}
.ui-btn{
    background-color: #F6F6F6;
    border-color: #DDD;
    color: #333;
    text-shadow: 0px 1px 0px #F3F3F3;
	
	position: absolute !important;
bottom: 10px;
right: 10px;
left: 10px;
}

.management{
		position: absolute !important;
	bottom: 63px;
	right: 10px;
	left: 10px;
	
	
	border: 1px solid #DDD;
	background-color: #fafafa;
}

.management ul{
	list-style-type: none;

	position: relative;
	left: 0px;
	margin-left: -30px;
	margin-right: 10px;
			
}

.management li{
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #FFF;
border: 1px solid #DDD;
 color: #555;
 box-sizing: border-box;
 font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857;
}

.rule{
	width: calc(100% - 10px);
	margin: 5px;
	height: 60px;
	
	border-radius: 10px;
	border: 1px solid #ddd;
	
}


input.toggle {
max-height: 0;
max-width: 0;
opacity: 0;
}

input.toggle + label {
display: block;
position: relative;
box-shadow: inset 0 0 0px 1px #d5d5d5;
/*text-indent: -5000px;*/
height: 30px;
width: 50px;
border-radius: 15px;
position: absolute;
top: 15px;
right: 5px;
}

input.toggle + label:before {
content: "";
position: absolute;
display: block;
height: 30px;
width: 30px;
top: 0px;
right: 0px;
border-radius: 15px;
background: rgba(19,191,17,0);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

input.toggle + label:after {
content: "";
position: absolute;
display: block;
height: 30px;
width: 30px;
top: 0px;
right: 25px;
border-radius: 15px;
background: white;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

input.toggle:checked + label:before {
width: 50px;
background: rgba(19,191,17,1);
}

input.toggle:checked + label:after {
right: 0px;
box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}

.rule_header_txt{
   width: calc(100% - 30px);
}
.rule_header p{
   font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif; 

    line-height: 14px;
    height: 40px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
	
	
   
}

.rule_body{
	position : relative;
	border-top: 1px solid #ddd;
	
	width: calc(100% - 20px);
	
	margin-top:-22px;
	padding: 10px;
	background-color:#f9f9ff;
	
	display: none;
}

.rule_body input{
	border: 0px solid #f9f9ff;
	background-color:#f9f9ff;
	padding-left: 9px;
	
	color: #1A73B6;
	
	width: 100%;
	
	
}
.rule_body table{
	width: 100%;
}

.rule_header{
	position : relative;
	
}

 .rule_body th {
	width: 50%;
	text-align: right;
	padding-right: 5px;
}

.view_container{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.SelectStyle {
width: 100%;
position: relative;
}
 
select {
width: 100%;
border: 0px solid #f9f9ff;
	background-color:#f9f9ff;
color: #81B1D8;
padding: 5px;
font-size: 13px;
line-height: 100%;

height: 30px;
-webkit-appearance: none;
border-radius:4px;
}
 
option {
padding: 10px;
}



.SelectStyle:after {
width: 30px;
height: 30px;
display: block;
content: '';
position: absolute;
top: 0;right: 0;
pointer-events: none;
border: 0px solid #C1C1C1;

}

div.product , div.service{
	width: 100%;
	padding:10px;
	
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fcfcfc;
}

div.product:hover , div.service:hover{
	background-color: #f6f6f6;
	color: #1A73B6;
}
#github_tab {
	
	padding-left; 10px;
	overflow-y: auto;
}
#github_tab input {

	padding : 4px;
	border: 1px solid #ddd;
	border-radius: 40px;
}
#github_tab input[type=button]{
	width: 100%;
}
#github_tab input[type=button]:hover{
	background-color: #f6f6ff;
}


legend{
	color : #1A73B6;
}

.trx_view table, .history_view table{
	border-bottom: 1px solid #DDD;
	font-size : 12px;
	 margin-left: auto;
	 margin-right: auto;
	 width: 100%;
}

.banner{
	position: absolute;
	left: 0px;
	right:0px;
	bottom: 0px;
	
	width: 100%;
	
	
}

#leftMenu{
	position: absolute;
	left: -1px;
	bottom:0px;
	top: 0px;
	width: 0px;
	background : #fbfbfb;
	border: 0px solid gray;
	border-right: 1px solid darkgray;
	overflow : hidden;
}

#leftMenu ul {
	margin : 0px;
	background-color : white;
	width: 100%;
	list-style-type: none;
/*	border-bottom: 1px solid darkgray; */
}

#leftMenu li{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin-left : 6px;
	font-weight: lighter;
}
/*
#leftMenu ul li:last-child{
	border-bottom: 0px solid #eee;
}
*/
#leftMenu li img{
	width: 26px;
	margin-left : -34px;
	

}

#leftMenu li lang{
	width: 20px;
	margin-left : 8px;
	

}






#menuBtn{
	position: absolute;
	left: 5px;
	top: 5px;
	
}